* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  display: block;
  margin: 0 auto;
  background-color: rgb(241, 241, 241);
}

.banner {
  height: 400px;
  display: flex;
  justify-content: center;
}
.banner .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .left img {
  transform: rotate(-20deg);
  width: 550px;
  z-index: -1;
  margin-top: 50px;
  -webkit-animation: heartbeat 5s ease-in infinite alternate;
          animation: heartbeat 5s ease-in infinite alternate;
}
@-webkit-keyframes heartbeat {
  to {
    transform: scale(1.01) rotate(-10deg);
    opacity: 0.8;
  }
}
@keyframes heartbeat {
  to {
    transform: scale(1.01) rotate(-10deg);
    opacity: 0.8;
  }
}
.banner .right {
  padding: 50px;
  text-align: center;
  flex: 1;
}
.banner .right h3 {
  background: rgba(0, 0, 0, 0.425);
  padding: 10px;
  color: white;
  font-size: 25px;
  border-radius: 5px;
}
.banner .right h4 {
  color: white;
  text-shadow: 2px 2px 10px black;
}
.banner .right span {
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 1px rgba(141, 0, 0, 0.495);
}

.about-section {
  margin: 10px 5%;
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
}
.about-section img {
  width: 40%;
  min-width: 400px;
}
.about-section .right {
  font-size: 20px;
}

.services-card-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 10px 5%;
  flex-wrap: wrap;
}

.services-card {
  width: 300px !important;
}
.services-card .services-card-icon {
  width: 100px;
  margin-bottom: 10px;
}

.footer-section {
  padding: 20px 5%;
  background: rgb(106, 106, 106);
  display: flex;
  justify-content: center;
}
.footer-section div {
  width: 300px;
}
.footer-section div h4 {
  color: rgb(226, 226, 226);
}
.footer-section div .footer-item {
  color: rgb(212, 212, 212);
  font-size: 17px;
}
.footer-section div p {
  line-height: 20px;
  font-size: 17px;
  color: rgb(212, 212, 212);
}

.copyright {
  background: rgb(106, 106, 106);
  padding-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 0;
}

.terms-section {
  padding: 10px 5%;
}
.terms-section h4 {
  color: rgb(73, 73, 73);
}
.terms-section p {
  font-size: 18px;
  color: rgb(73, 73, 73);
}

.testimonial-card-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 10px 5%;
  flex-wrap: wrap;
}

.testimonial-card {
  border: none;
  display: flex;
  width: 370px;
  justify-content: space-around;
  gap: 10px;
}
.testimonial-card .testimonial-card-image {
  width: 70px !important;
  height: 70px;
  margin: 5px;
}

@media (max-width: 750px) {
  .services-card,
.testimonial-card {
    width: 80% !important;
  }
  .footer-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .banner .left img {
    display: none;
  }
  .contact-page-image {
    display: none;
  }
  .about-section {
    flex-direction: column;
  }
  .about-section img {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */