* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1400px;
    display: block;
    margin: 0 auto;
}

.banner {
    height: 450px;
    margin: 10px 5%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-blend-mode: screen !important;
    display: flex;
    justify-content: space-around;

    .right {
        padding: 50px;
        text-align: center;

        h3 {
            background: rgba(0, 0, 0, 0.425);
            padding: 10px; 
            color: white;
            font-size: 25px;
            border-radius: 5px;
        }

        h4{
            color: white;
            text-shadow: 2px 2px 10px black;
        }

        span{
            font-size: 20px;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif; 
            -webkit-text-stroke: 1px rgba(141, 0, 0, 0.495); 
        }
     
    }
}

.about-section{
    margin: 10px 5%;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;

    img{
        width: 40%;
        min-width: 400px;
    }

    .right{
        font-size: 20px;
    }
}


.services-card-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 10px 5%;
    flex-wrap: wrap;
}


.services-card {
    width: 300px !important;

    .services-card-icon {
        width: 100px;
        margin-bottom: 10px;
    }
}

// this is footer section 
.footer-section{
    padding: 20px 5% ; 
    background: rgb(106, 106, 106);
    display: flex; 
    justify-content: center;

 div{
    width: 300px; 

    h4{
        color: rgb(226, 226, 226); 
        
    }

    .footer-item{
        color: rgb(212, 212, 212);
        font-size: 17px;  
    }

    p{
        line-height: 17px;
        color: rgb(212, 212, 212);
    }
 }
}

// this is for copyright 

.copyright{
    background: rgb(106, 106, 106);
    padding-bottom: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
}


// terms section 
.terms-section{
    padding: 10px 5%;
    h4{
        color: rgb(73, 73, 73);
    }
    p{
        font-size: 18px;
        color: rgb(73, 73, 73);
    }
}

// testimonials section css code   
.testimonial-card-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 10px 5%;
    flex-wrap: wrap;
}

.testimonial-card { 
    border: none;  
    display: flex;
    width: 370px;
    justify-content: space-around; 
    gap: 10px;
    
    .testimonial-card-image {
        width: 70px !important;
        height: 70px; 
        margin: 5px;
    }
}
  
@media (max-width:750px) { 
    .services-card, .testimonial-card {
        width: 80% !important; 
    }   
    
.footer-section{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

}


@media (max-width:900px) {

    .contact-page-image{
        display: none;
    }
    
    .about-section{
        flex-direction: column ; 
        
        img{
            width: 100%; 
        }
    } 
}